:root {
    --tomato: hsl(5deg 82% 42%);
    --tomato-opasity: hsl(5deg 82% 42% / 15%);
    --dark-slate-grey: hsl(234deg 29% 20%);
    --charcoal-grey: hsl(235deg 18% 26%);
    --grey: hsl(231deg 7% 60%);
    --white: hsl(0deg 0% 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--charcoal-grey);

    background-color: var(--charcoal-grey);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (width <= 490px) {
    body {
        background-color: var(--white);
    }
}